body{
    background-color: lightskyblue;
}
#header{
    font-size: 3.5em;
    color: darkgreen;
    font-weight: bolder;
}
.container{
    color: green;
}
#header{
    background-color: palegreen;
    margin: 2px;
    border: lightgoldenrodyellow solid 2px;
    padding: 10px;
    border-radius: 1em;
}
#time {
    margin: 1em;
    display: inline-block;
    border: 3px solid gray;
    padding: 1rem 2rem;
    font-size: 2rem;
    font-weight: bold;
    color: red;
    background-color: black;
}
#sunIcon{
    margin: 1em;
}