{
  "extends": [
    "eslint:recommended"
  ],
  // "parserOptions": {
  //   "ecmaVersion": 2015,
  //   "sourceType": "module"
  // },
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "rules": {
    "no-console": 0
  }
}